ansible/roles/nginx/tasks/tempalates/laravel.conf.j2
server {
  root {{virtual_root_path}};
  listen 80;
  server_name {{virtual_server_name}};

location / {
    client_max_body_size 10m;
    index index.php index.html;
    try_files $uri $uri/ /index.php?$query_string;
  }
  location ~ \.php$ {
    fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
    fastcgi_index index.php;
    include /etc/nginx/fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  }
    location /.well-known/ {
    default_type "text/plain";
  }
}